<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imme.immeclient" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="in.sish.maplikeuber.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <service
            android:name=".IMMEService"
            android:enabled="true" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:permission="android.permission.INTERNET"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinActivity"
            android:label="@string/title_activity_pin"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.PinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.FeedbackActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpAndSupportActivity"
            android:label="@string/title_activity_help_and_support"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.HelpAndSupportActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.PrivacyPolicyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipientListActivity"
            android:label="@string/title_activity_recipient_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.RecipientListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendPayActivity"
            android:label="@string/title_activity_send_pay"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.SendPayActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecuritySettingsActivity"
            android:label="@string/title_activity_security_setting"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.SecuritySettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserAgreementActivity"
            android:label="@string/title_activity_user_agreement"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.UserAgreementActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.AccountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiveActivity"
            android:label="@string/title_activity_receive"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ReceiveActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Send_pay_details"
            android:label="@string/title_activity_send_pay_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.Send_pay_details" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.screen.lasedev.welcome_layout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GiftActivity"
            android:label="@string/title_activity_gift"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.GiftActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiveQRCodeActivity"
            android:label="@string/title_activity_receive_qrcode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ReceiveQRCodeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentDetails"
            android:label="@string/title_activity_payment_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.PaymentDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InviteGetMoneyActivity"
            android:label="@string/title_activity_invite_get_money"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.InviteGetMoneyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalSend"
            android:label="@string/title_activity_personal_send"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.PersonalSend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.SignUpActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.SignInActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountVerifyPhoneNumberStep1Activity"
            android:label="@string/title_activity_account_verify_phone_number_step1"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.AccountVerifyPhoneNumberStep1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.TransactionHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendPayPersonalDetail"
            android:label="@string/title_activity_send_pay_personal_detail"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.SendPayPersonalDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Deposit"
            android:label="@string/title_activity_deposit"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.Deposit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomLayout"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/AppThemeBlue"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PromotionActivity"
            android:label="@string/title_activity_promotion"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeRed.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.MainActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.PromotionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin1Process1Activity"
            android:label="@string/title_activity_change_pin1_process1"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin1Process1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin1Process2Activity"
            android:label="@string/title_activity_change_pin1_process2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin1Process2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin1Process3Activity"
            android:label="@string/title_activity_change_pin1_process3"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin1Process3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin2Process1Activity"
            android:label="@string/title_activity_change_pin2_process1"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin2Process1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin2Process2Activity"
            android:label="@string/title_activity_change_pin2_process2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin2Process2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePin2Process3Activity"
            android:label="@string/title_activity_change_pin2_process3"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.ChangePin2Process3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RecipientListAddAccountActivity"
            android:label="@string/title_activity_recipient_list_add_account"
            android:parentActivityName=".RecipientListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.RecipientListAddAccountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipientListProfileAccountActivity"
            android:label="@string/title_activity_recipient_list_profile_account"
            android:parentActivityName=".RecipientListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.RecipientListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FastPaymentActivity"
            android:label="@string/title_activity_fast_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NearMeActivity" />
        <activity
            android:name=".Pin2Activity"
            android:label="PIN 2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imme.immeclient.SecuritySettingsActivity" />

            <intent-filter>
                <action android:name="com.imme.immeclient.Pin2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SendToFriendActivity"
            android:label="@string/title_activity_send_pay"
            android:parentActivityName=".SendPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.imme.immeclient.SendPayActivity" />

        <intent-filter>
            <action android:name="com.imme.immeclient.SendToFriendActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        </activity>
    </application>

</manifest>
